# Lesson 14 Studio:  A Library Service

## Setting Up Your Data

You will be creating 5 new tables within your own schema.

4 of the tables can be populated using the starter code which can be found in the folder "[Starter Code](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code)" in the studio GitHub repository. 

After setting up the data you should have the following five tables:

1. book
2. author
3. patron
4. genre
5. loan

## **Part A: Setting Up Your Tables**

### **Book Table**

To create the **book** table, you can use the following SQL query:

```
CREATE TABLE [DB].[schema].book (
    book_id INT IDENTITY(1,1) PRIMARY KEY, 
    author_id INT,
    title VARCHAR(255),
    isbn INT,
    available BIT,
    genre_id INT
);
```

_A few notes on this syntax:_

> On Auto-incrementing:
> 
> We are going to have SQL help us assign book\_id numbers using auto-incrementing using the **IDENTITY** property.
> 
> The [IDENTITY](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-table-transact-sql-identity-property?view=sql-server-ver15) syntax is as follows: **IDENTITY(seed, increment)**.  We want to seed the first id number as 1 in this table and increment by 1 for each following book\_id.

> On BIT datatypes:
> 
> For the **available** column, we are going to use the [BIT datatype](https://docs.microsoft.com/en-us/sql/t-sql/data-types/bit-transact-sql?view=sql-server-ver15) to represent True or False values.  Bit allows three entries: 0 which will stand for false,  1 which will stand for true,  and NULL.

> On CREATE TABLES:
> 
> You may only create a table once.  You may comment out your creation query once you run it.

In [1]:
-- Create the book table here.  Update the name of the database and schema.
CREATE TABLE JunkDB_STL_May2023.alexs.book (
    book_id INT IDENTITY(1,1) PRIMARY KEY, 
    author_id INT,
    title VARCHAR(255),
    isbn INT,
    available BIT,
    genre_id INT
);

### Populate the **book** table.

For the starter data, use the [book\_data.ipynb notebook](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code).

> You may copy/paste the commands into the next code block.  You will need to update each INSERT statement to contain the names of your database and schema.

In [14]:
-- Paste the book data values in this code box.  Be sure to update database and schema names.
select * FROM JunkDB_STL_May2023.alexs.book

book_id,author_id,title,isbn,available,genre_id
1,2,A Midsummers Night Dream,978149413,1,23
2,2,Romeo and Juliet,988535196,1,3
3,1,The Golden Compass,451664226,1,1
4,1,The Subtle Knife,160419390,1,1
5,1,The Amber Spyglass,94387895,1,1
6,3,The Alchemist,464069772,1,2
7,4,And Then There Were None,335973357,1,6
8,5,The Joy Luck Club,990050329,1,10
9,5,The Moon Lady,91720786,1,24
10,6,Sense and Sensibility,156879860,1,2
11,6,Northanger Abbey,951273178,1,3
12,6,Pride and Prejudice,415886839,1,3
13,6,Mansfield Park,188534067,1,3
14,6,Emma,994896202,1,3
15,6,Persuasion,28150097,1,3
16,6,Lady Susan,230962926,1,3
17,7,Wuthering Heights,280569946,1,3
18,8,The Handmaids Tale,639239663,1,5
19,8,The Testaments,826875490,1,5
20,9,The Parable of the Sower,283359358,1,5
21,10,Little Women,495409887,1,23
22,11,Still Life,455128657,1,6
23,11,A Fatal Grace,832517012,1,6
24,11,The Cruelest Month,419285319,1,6
25,11,The Murder Stone,656621400,1,6
26,11,The Brutal Telling,144255852,1,6
27,11,Bury Your Dead,208180961,1,6
28,11,A Trick of the Light,93451531,1,6
29,12,Midnights Children,881082293,1,10
30,13,Dont Let the Pigeon Drive the Bus!,18409532,1,24
31,14,Beezus and Ramona,744412630,1,24
32,15,Organic Chemistry,604328803,1,25
33,16,I Know Why the Caged Bird Sings,909947112,1,12
34,17,Beloved,46736233,1,10
35,18,Brassbones and Rainbows,330608463,1,26

### Test your data.  

Run a quick query of your choice to see if the book table was properly created.

In [ ]:
-- test your book table here.

We will repeat a similar process for the **author, patron,** and **genre** tables. 

### **Author Table**

To create the **author** table, you will use the following code:

```
CREATE TABLE [DB].[schema].author (
    author_id INT IDENTITY(1,1), PRIMARY KEY
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    birth_year INT,
    death_year INT
);
```

In [2]:
-- create the author table here:
CREATE TABLE JunkDB_STL_May2023.alexs.author (
    author_id INT IDENTITY(1,1) PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    birth_year INT,
    death_year INT
);

Populate the **author** table with the [author\_data.ipynb](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code).

In [8]:
SELECT * FROM JunkDB_STL_May2023.alexs.author

author_id,first_name,last_name,birth_year,death_year
1,Phillip,Pullman,1946,NULL
2,William,Shakespeare,1564,1616
3,Paulo,Coelho,1947,NULL
4,Agatha,Christie,1866,1963
5,Amy,Tan,1931,NULL
6,Jane,Austin,1747,1792
7,Emily,Bronte,1781,1817
8,Margaret,Atwood,1910,NULL
9,Octavia,Butler,1919,1980
10,Louisa May,Alcott,1792,1879
11,Louise,Penny,1950,NULL
12,Salman,Rushdie,1920,NULL
13,Mo,Willems,1955,NULL
14,Beverly,Cleary,1900,NULL
15,Peter,Vollhardt,1936,NULL
16,Maya,Angelou,1920,1981
17,Toni,Morrison,1911,2006
18,Shirley,LeFlore,1931,2002

### **Patron Table**

To create the **patron**, you will use the following code:

```
CREATE TABLE [DB].[schema].patron (
    patron_id INT IDENTITY (1,1) PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    loan_id INT
);
```

In [3]:
-- create the patron table here:
CREATE TABLE JunkDB_STL_May2023.alexs.patron (
    patron_id INT IDENTITY (1,1) PRIMARY KEY,
    first_name VARCHAR(255),
    last_name VARCHAR(255),
    loan_id INT
);

Populate the **patron** table with the [patron\_data.ipynb](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code) notebook.

In [9]:
SELECT * FROM JunkDB_STL_May2023.alexs.patron

patron_id,first_name,last_name,loan_id
1,Jennifer,Slayny,NULL
2,Susan,Traviss,NULL
3,Vincent,Ritelli,NULL
4,Tasia,Laybourne,NULL
5,Wren,Gergler,NULL
6,Tory,Lees,NULL
7,Estelle,Di Lorio,NULL
8,Dorian,Betje,NULL
9,Frank,Jelk,NULL
10,Chris,Endon,NULL
11,Gillie,Fritz,NULL
12,Leisha,Defty,NULL
13,Erika,Bompass,NULL
14,Gabe,Moxstead,NULL
15,Blake,Teresse,NULL
16,Joshua,Timmouth,NULL
17,Tasha,Timmouth,NULL
18,Neil,Davie,NULL
19,Emmeline,Pitherick,NULL
20,Josiah,Staner,NULL
21,James,Greetham,NULL
22,Isaac,Barstowk,NULL
23,Dean,Nelane,NULL
24,Carolina,Cranmere,NULL
25,Champ,Lardiner,NULL
26,Abbie,Quaif,NULL
27,Camile,Milbourne,NULL
28,Quentin,Crose,NULL
29,Silvano,Horlick,NULL
30,Phyllis,Cicchillo,NULL
31,Jerrie,Brownhall,NULL
32,Ludovika,Leist,NULL
33,Tara,Knatt,NULL
34,Kelsie,Parkson,NULL
35,Jodi,Leopard,NULL
36,Rosanna,Cultcheth,NULL
37,Remy,Fairpool,NULL
38,Megan,Blyth,NULL
39,Rikki,McLernon,NULL
40,Clare,Haacker,NULL
41,Vincent,Chettle,NULL
42,Sybil,Costanza,NULL
43,Jonas,Sinclare,NULL
44,Claire,Bendel,NULL
45,Kathleen,Welband,NULL
46,Kylie,Crannage,NULL
47,Evelyn,Tarajo,NULL
48,Oliver,Caulson,NULL

### **Genre Table**

To create the **genre** table, use the following code:

```
CREATE TABLE [DB].[schema].genre (
    genre_id INT PRIMARY KEY,
    genres VARCHAR(100)
);
```

In [4]:
-- create genre table here:
CREATE TABLE JunkDB_STL_May2023.alexs.genre (
    genre_id INT PRIMARY KEY,
    genres VARCHAR(100)
);

Populate the **genre** table with the [genre\_data.ipybn](https://github.com/speudusa/SQL-Part-5-Studio/tree/master/Starter%20Code) notebook.

In [10]:
SELECT * FROM JunkDB_STL_May2023.alexs.genre

genre_id,genres
1,Fantasy
2,Adventure
3,Romance
4,Contemporary
5,Dystopian
6,Mystery
7,Horror
8,Thriller
9,Paranormal
10,Historical Fiction
11,Science Fiction
12,Memoir
13,Cooking
14,Art
15,Self-Help
16,Development
17,Motivational
18,Health
19,History
20,Travel
21,Guide
22,Families and Relationships
23,Humor
24,Childrens
25,Reference
26,Poetry

### **Loan Table**

The **loan** table will be created differently and will stay empty.  We will use our other tables to populate the loan table using queries shortly.  

Use the following code to create the **loan** table:

```
CREATE TABLE [DB].[schema].loan (
    loan_id INT IDENTITY(1,1) PRIMARY KEY,
    patron_id INT,
    date_out DATE,
    date_in DATE,
    book_id INT
    CONSTRAINT book_id FOREIGN KEY (book_id) REFERENCES [DB].[schema].book (book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);
```

_Notes about the syntax:_

> We are adding a [foreign key](https://www.w3schools.com/sql/sql_foreignkey.asp) to this table to reference a different table's primary key.  In this studio, we are going to link the **loan** table to the **book** table using keys.  The **loan** table will reference and add book id numbers based on the **book** table's book\_id.  We are also providing [constraints](https://www.w3schools.com/sql/sql_constraints.asp) to be very specific about what type of data is allowed in this column.

In [13]:
-- Code the loan table.  
-- Note that you will need to update the first and seventh lines with your database and schema info.

CREATE TABLE JunkDB_STL_May2023.alexs.loan (
    loan_id INT IDENTITY(1,1) PRIMARY KEY,
    patron_id INT,
    date_out DATE,
    date_in DATE,
    book_id INT
    CONSTRAINT book_id FOREIGN KEY (book_id) REFERENCES JunkDB_STL_May2023.alexs.book (book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);

## **Part B: Warm-Up Queries**

Write the following queries to get warmed up and make sure your tables have populated appropriately. 

1. Return the mystery book titles and their ISBNs.  
      
    
2. Return all of the titles and the author's first and last names for books written by authors who are currently living.

In [16]:
--Code your warm ups here:
SELECT title, isbn,genre_id FROM JunkDB_STL_May2023.alexs.book
WHERE genre_id=(
    SELECT genre_id
    FROM JunkDB_STL_May2023.alexs.genre
    WHERE genres='mystery')

title,isbn,genre_id
And Then There Were None,335973357,6
Still Life,455128657,6
A Fatal Grace,832517012,6
The Cruelest Month,419285319,6
The Murder Stone,656621400,6
The Brutal Telling,144255852,6
Bury Your Dead,208180961,6
A Trick of the Light,93451531,6

In [32]:
SELECT b.title,a.first_name, a.last_name 
FROM JunkDB_STL_May2023.alexs.book AS b
INNER JOIN JunkDB_STL_May2023.alexs.author AS a
ON b.author_id=a.author_id
WHERE a.death_year IS NULL

title,first_name,last_name
The Golden Compass,Phillip,Pullman
The Subtle Knife,Phillip,Pullman
The Amber Spyglass,Phillip,Pullman
The Alchemist,Paulo,Coelho
The Joy Luck Club,Amy,Tan
The Moon Lady,Amy,Tan
The Handmaids Tale,Margaret,Atwood
The Testaments,Margaret,Atwood
Still Life,Louise,Penny
A Fatal Grace,Louise,Penny
The Cruelest Month,Louise,Penny
The Murder Stone,Louise,Penny
The Brutal Telling,Louise,Penny
Bury Your Dead,Louise,Penny
A Trick of the Light,Louise,Penny
Midnights Children,Salman,Rushdie
Dont Let the Pigeon Drive the Bus!,Mo,Willems
Beezus and Ramona,Beverly,Cleary
Organic Chemistry,Peter,Vollhardt

## **Part C: Loan Out a Book**

The library would like you to create a query that will update the database when a book is loaned out.  

This query needs to perform the following functions:

1. Change **available** to **0** (false) for the appropriate book.
    
2. Add a new row to the **loan** table with today's date as the **date\_out** and the ids in the row matching the appropriate **patron\_id** and **book\_id**.
    
3. Update the appropriate **patron** with the **loan\_id** for the new row created in the **loan** table.
    

You can use any patron and book that strikes your fancy to create and test out this query.'

> _Note:  Every time you test this, you will add an additional row to the output, creating a new loan id each time.  If you do not update the patron id, then a patron will have multiple loan ids.  This is not an issue for Part C;_ _however, this may cause issues when you work on Part F._

In [88]:
-- Create your query that will Loan Out a Book:
INSERT INTO JunkDB_STL_May2023.alexs.loan(patron_id,date_out,book_id)
VALUES (
    (SELECT patron_id 
    FROM JunkDB_STL_May2023.alexs.patron
    WHERE first_name='tasha' and last_name='timmouth'),

    GETDATE(),

    (SELECT book_id
    FROM JunkDB_STL_May2023.alexs.book
    WHERE title='A Midsummers Night Dream')
)

UPDATE JunkDB_STL_May2023.alexs.patron
SET loan_id =(
    SELECT loan_id FROM JunkDB_STL_May2023.alexs.loan
    WHERE loan.patron_id=patron.patron_id
)

UPDATE JunkDB_STL_May2023.alexs.book
SET available=0
WHERE book.book_id IN (
    SELECT book_id FROM JunkDB_STL_May2023.alexs.loan
    WHERE date_in IS NULL
)

In [89]:
SELECT * FROM JunkDB_STL_May2023.alexs.loan
SELECT * FROM JunkDB_STL_May2023.alexs.book
SELECT * FROM JunkDB_STL_May2023.alexs.patron

loan_id,patron_id,date_out,date_in,book_id
1,17,2023-08-22,NULL,1

book_id,author_id,title,isbn,available,genre_id
1,2,A Midsummers Night Dream,978149413,0,23
2,2,Romeo and Juliet,988535196,1,3
3,1,The Golden Compass,451664226,1,1
4,1,The Subtle Knife,160419390,1,1
5,1,The Amber Spyglass,94387895,1,1
6,3,The Alchemist,464069772,1,2
7,4,And Then There Were None,335973357,1,6
8,5,The Joy Luck Club,990050329,1,10
9,5,The Moon Lady,91720786,1,24
10,6,Sense and Sensibility,156879860,1,2
11,6,Northanger Abbey,951273178,1,3
12,6,Pride and Prejudice,415886839,1,3
13,6,Mansfield Park,188534067,1,3
14,6,Emma,994896202,1,3
15,6,Persuasion,28150097,1,3
16,6,Lady Susan,230962926,1,3
17,7,Wuthering Heights,280569946,1,3
18,8,The Handmaids Tale,639239663,1,5
19,8,The Testaments,826875490,1,5
20,9,The Parable of the Sower,283359358,1,5
21,10,Little Women,495409887,1,23
22,11,Still Life,455128657,1,6
23,11,A Fatal Grace,832517012,1,6
24,11,The Cruelest Month,419285319,1,6
25,11,The Murder Stone,656621400,1,6
26,11,The Brutal Telling,144255852,1,6
27,11,Bury Your Dead,208180961,1,6
28,11,A Trick of the Light,93451531,1,6
29,12,Midnights Children,881082293,1,10
30,13,Dont Let the Pigeon Drive the Bus!,18409532,1,24
31,14,Beezus and Ramona,744412630,1,24
32,15,Organic Chemistry,604328803,1,25
33,16,I Know Why the Caged Bird Sings,909947112,1,12
34,17,Beloved,46736233,1,10
35,18,Brassbones and Rainbows,330608463,1,26

patron_id,first_name,last_name,loan_id
1,Jennifer,Slayny,NULL
2,Susan,Traviss,NULL
3,Vincent,Ritelli,NULL
4,Tasia,Laybourne,NULL
5,Wren,Gergler,NULL
6,Tory,Lees,NULL
7,Estelle,Di Lorio,NULL
8,Dorian,Betje,NULL
9,Frank,Jelk,NULL
10,Chris,Endon,NULL
11,Gillie,Fritz,NULL
12,Leisha,Defty,NULL
13,Erika,Bompass,NULL
14,Gabe,Moxstead,NULL
15,Blake,Teresse,NULL
16,Joshua,Timmouth,NULL
17,Tasha,Timmouth,1
18,Neil,Davie,NULL
19,Emmeline,Pitherick,NULL
20,Josiah,Staner,NULL
21,James,Greetham,NULL
22,Isaac,Barstowk,NULL
23,Dean,Nelane,NULL
24,Carolina,Cranmere,NULL
25,Champ,Lardiner,NULL
26,Abbie,Quaif,NULL
27,Camile,Milbourne,NULL
28,Quentin,Crose,NULL
29,Silvano,Horlick,NULL
30,Phyllis,Cicchillo,NULL
31,Jerrie,Brownhall,NULL
32,Ludovika,Leist,NULL
33,Tara,Knatt,NULL
34,Kelsie,Parkson,NULL
35,Jodi,Leopard,NULL
36,Rosanna,Cultcheth,NULL
37,Remy,Fairpool,NULL
38,Megan,Blyth,NULL
39,Rikki,McLernon,NULL
40,Clare,Haacker,NULL
41,Vincent,Chettle,NULL
42,Sybil,Costanza,NULL
43,Jonas,Sinclare,NULL
44,Claire,Bendel,NULL
45,Kathleen,Welband,NULL
46,Kylie,Crannage,NULL
47,Evelyn,Tarajo,NULL
48,Oliver,Caulson,NULL

In [87]:
TRUNCATE TABLE JunkDB_STL_May2023.alexs.loan
UPDATE JunkDB_STL_May2023.alexs.patron
SET loan_id=NULL 
UPDATE JunkDB_STL_May2023.alexs.book
SET available=1

## **Part D: Check a Book Back In**

Work with the same patron and book as you create your query to check a book back into the library.

The check a book back in, your query need to do the following:

1. Change **available** to **1** (true) for the appropriate book.
    
2. Update the appropriate row in the **loan** table with today's date as the **date\_in**.
    
3. Update the appropriate **patron** changing **loan\_id** back to **NULL**.
    

Once you have created these queries, loan out 5 new books to 5 different patrons.

In [94]:
-- Create your Check a Book Back In query:
UPDATE JunkDB_STL_May2023.alexs.loan
SET date_in=cast(GETDATE() AS DATETIME)
WHERE book_id=(
    SELECT book_id
    FROM JunkDB_STL_May2023.alexs.book
    WHERE title='A Midsummers Night Dream'
)

UPDATE JunkDB_STL_May2023.alexs.patron
SET loan_id =NULL
WHERE loan_id IN (
    SELECT loan_id FROM JunkDB_STL_May2023.alexs.loan
    WHERE date_in IS NOT NULL
)

UPDATE JunkDB_STL_May2023.alexs.book
SET available=1
WHERE book.book_id IN (
    SELECT book_id FROM JunkDB_STL_May2023.alexs.loan
    WHERE date_in IS NOT NULL
)

In [95]:
SELECT * FROM JunkDB_STL_May2023.alexs.loan
SELECT * FROM JunkDB_STL_May2023.alexs.book
SELECT * FROM JunkDB_STL_May2023.alexs.patron

loan_id,patron_id,date_out,date_in,book_id
1,17,2023-08-22,2023-08-22,1

book_id,author_id,title,isbn,available,genre_id
1,2,A Midsummers Night Dream,978149413,1,23
2,2,Romeo and Juliet,988535196,1,3
3,1,The Golden Compass,451664226,1,1
4,1,The Subtle Knife,160419390,1,1
5,1,The Amber Spyglass,94387895,1,1
6,3,The Alchemist,464069772,1,2
7,4,And Then There Were None,335973357,1,6
8,5,The Joy Luck Club,990050329,1,10
9,5,The Moon Lady,91720786,1,24
10,6,Sense and Sensibility,156879860,1,2
11,6,Northanger Abbey,951273178,1,3
12,6,Pride and Prejudice,415886839,1,3
13,6,Mansfield Park,188534067,1,3
14,6,Emma,994896202,1,3
15,6,Persuasion,28150097,1,3
16,6,Lady Susan,230962926,1,3
17,7,Wuthering Heights,280569946,1,3
18,8,The Handmaids Tale,639239663,1,5
19,8,The Testaments,826875490,1,5
20,9,The Parable of the Sower,283359358,1,5
21,10,Little Women,495409887,1,23
22,11,Still Life,455128657,1,6
23,11,A Fatal Grace,832517012,1,6
24,11,The Cruelest Month,419285319,1,6
25,11,The Murder Stone,656621400,1,6
26,11,The Brutal Telling,144255852,1,6
27,11,Bury Your Dead,208180961,1,6
28,11,A Trick of the Light,93451531,1,6
29,12,Midnights Children,881082293,1,10
30,13,Dont Let the Pigeon Drive the Bus!,18409532,1,24
31,14,Beezus and Ramona,744412630,1,24
32,15,Organic Chemistry,604328803,1,25
33,16,I Know Why the Caged Bird Sings,909947112,1,12
34,17,Beloved,46736233,1,10
35,18,Brassbones and Rainbows,330608463,1,26

patron_id,first_name,last_name,loan_id
1,Jennifer,Slayny,NULL
2,Susan,Traviss,NULL
3,Vincent,Ritelli,NULL
4,Tasia,Laybourne,NULL
5,Wren,Gergler,NULL
6,Tory,Lees,NULL
7,Estelle,Di Lorio,NULL
8,Dorian,Betje,NULL
9,Frank,Jelk,NULL
10,Chris,Endon,NULL
11,Gillie,Fritz,NULL
12,Leisha,Defty,NULL
13,Erika,Bompass,NULL
14,Gabe,Moxstead,NULL
15,Blake,Teresse,NULL
16,Joshua,Timmouth,NULL
17,Tasha,Timmouth,NULL
18,Neil,Davie,NULL
19,Emmeline,Pitherick,NULL
20,Josiah,Staner,NULL
21,James,Greetham,NULL
22,Isaac,Barstowk,NULL
23,Dean,Nelane,NULL
24,Carolina,Cranmere,NULL
25,Champ,Lardiner,NULL
26,Abbie,Quaif,NULL
27,Camile,Milbourne,NULL
28,Quentin,Crose,NULL
29,Silvano,Horlick,NULL
30,Phyllis,Cicchillo,NULL
31,Jerrie,Brownhall,NULL
32,Ludovika,Leist,NULL
33,Tara,Knatt,NULL
34,Kelsie,Parkson,NULL
35,Jodi,Leopard,NULL
36,Rosanna,Cultcheth,NULL
37,Remy,Fairpool,NULL
38,Megan,Blyth,NULL
39,Rikki,McLernon,NULL
40,Clare,Haacker,NULL
41,Vincent,Chettle,NULL
42,Sybil,Costanza,NULL
43,Jonas,Sinclare,NULL
44,Claire,Bendel,NULL
45,Kathleen,Welband,NULL
46,Kylie,Crannage,NULL
47,Evelyn,Tarajo,NULL
48,Oliver,Caulson,NULL

## **Part E: Create a temp table**

Write a query that returns a temporary table for a patron that shows them all of their loans.

_Question to think about:_  Why might a temp table be a good option for this type of query?

In [98]:
-- Code your temp table here

SELECT patron_id,loan_id 
INTO #Temp_Table1
FROM JunkDB_STL_May2023.alexs.loan

SELECT * FROM #Temp_Table1

patron_id,loan_id
17,1

## **Part F: Wrap-up Query**

Create a query that returns the names of the patrons with the genre of every book they currently have checked out.

Things to consider:  How are these tables related and connected to each other?

> _Note:  If you find a NULL in your output instead of a loan id,   this is likely because there are multiple loans per patron.  Try_ _clearing out the loan table.  You can do this by either dropping the entire table or clearing specific rows._

In [101]:
-- Create your Wrap-Up query here:

SELECT p.first_name, p.last_name, g.genres
FROM JunkDB_STL_May2023.alexs.loan as l 
INNER JOIN JunkDB_STL_May2023.alexs.book as b 
ON l.book_id=b.book_id
INNER JOIN JunkDB_STL_May2023.alexs.genre AS g 
ON b.genre_id=g.genre_id
INNER JOIN JunkDB_STL_May2023.alexs.patron AS p 
ON l.patron_id=p.patron_id

first_name,last_name,genres
Tasha,Timmouth,Humor

## **Bonus Challenge:**

This is an optional challenge.

Create a new table for reference materials using the following code:

```
CREATE TABLE [DB].[schema].reference_books (
    reference_id INT IDENTITY(1,1) PRIMARY KEY,
    edition INT,
    book_id INT,
    book_id INT FOREIGN KEY REFERENCES [DB].[schema].book(book_id)
        ON UPDATE SET NULL
        ON DELETE SET NULL
);
```

Fill the table with the following query:

```
INSERT INTO [DB].[schema].reference_books (edition, book_id)
VALUE (5,32);
```

In [ ]:
-- Create and fill your reference table here:

<span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">A reference book cannot leave the library.&nbsp; How would you modify either the <b>reference_book</b> table or the <b>book</b> table to make sure that doesn't happen?&nbsp; Try to apply your modifications.</span>

In [ ]:
-- Code your query here: